.profile {
  background: #028cb3;
  background: linear-gradient(0, #028cb3 0%, #6ac6b4 100%);
  /*height: 100vh;*/
  padding: 5rem 0 0 0;
}

.prpic {
  width: 100%;
  vertical-align: top;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
}

picture {
  display: block;
  line-height: 0;
}

.img_cont {
  border-radius: .5rem;
  overflow: hidden;
}

.img-hover-zoom {
  transition: transform .25s ease;
}

/* The Transformation */
.img-hover-zoom:hover {
  transform: scale(1.5);
}

.lightText {
  color: #FFF;
}

hr {
  visibility: hidden;
  padding-top: 2rem;
  padding-bottom: 6rem;
}

p{
  text-align: justify;
}

@media (min-width: 550px) {
  hr {
    visibility: visible;
    padding-top: 3rem;
  }
}

@media (prefers-color-scheme: dark) {
  .lightText {
    color: #eeeeec;
  }
}