.profile {
  background: #028cb3;
  background: linear-gradient(0, #028cb3 0%, #6ac6b4 100%);
  padding-top: 1rem 0 0 0;
}

.headerLinks {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
}

.headerLinks:after {
  content: none;
}

h2 {
  margin-top: 5rem;
}

.prpic {
  width: 100%;
  vertical-align: top;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
}

.img_cont {
  border-radius: .5rem;
  overflow: hidden;
}

.img-hover-zoom {
  transition: transform .25s ease;
}

/* The Transformation */

.img-hover-zoom:hover {
  transform: scale(1.5);
}

.lightText {
  color: #FFF;
  border-color: #FFF;
}

::selection {
  background: #1EAEDB;
}

.waveHand {
  display: inline-block;
  animation: handwave 1.5s infinite;
  transform-origin: 80% 80%;
}

@keyframes handwave {
  0% { transform: rotate( 0.0deg) }
 10% { transform: rotate(14.0deg) } 
 20% { transform: rotate(-8.0deg) }
 30% { transform: rotate(14.0deg) }
 40% { transform: rotate(-4.0deg) }
 50% { transform: rotate(10.0deg) }
 60% { transform: rotate( 0.0deg) } 
100% { transform: rotate( 0.0deg) }
}

@media (prefers-color-scheme:dark) {
  .lightText {
    color: #2e3436;
    border-color: #2e3436
  }
  ::selection {
    background: #729fcf;
  }
}