.profile {
  scroll-snap-align: start;
  background: #028cb3;
  background: linear-gradient(0, #028cb3 0%, #6ac6b4 100%);
  padding-top: 1rem;
}

html{
  scroll-snap-type: y proximity;
}

:focus {
  outline-style: dashed;
  outline-offset: .5rem;
  outline-width: .2rem;
  outline-color: inherit;
}

.portfolio-entry{
  padding-bottom: 2rem;
  scroll-snap-align: start;
}

.headerLinks {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
}

.headerLinks:after {
  content: none;
}

h1, h2 {
  margin-top: 5rem;
}

.prpic {
  width: 100%;
  vertical-align: top;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
}

.img_cont {
  border-radius: .5rem;
  overflow: hidden;
}

.img-hover-zoom {
  transition: transform .25s ease;
}

/* The Transformation */

.img-hover-zoom:hover, a:focus .img-hover-zoom {
  transform: scale(1.5);
}

.button {
  color: #555;
  border: 1px solid #bbb;
}

.button {
  display: inline-block;
  padding: 8px 30px;
  margin-bottom: 16px;
  border-radius: 4px;
  text-transform: uppercase;
  text-align: center;
  font-size: .8em;
  text-decoration: none;
  white-space: nowrap;
}

.lightText {
  color: #FFF;
  border-color: #FFF;
}

@media (prefers-color-scheme: dark) {
  .button {
    color: #d3d7cf;
    border: 1px solid #babdb6;
  }
  .lightText {
    color: #2e3436;
    border-color: #2e3436
  }
}

.waveHand {
  display: inline-block;
  animation: handwave 1.5s infinite;
  transform-origin: 80% 80%;
}

@keyframes handwave {
  0% {
    transform: rotate( 0.0deg)
  }
  10% {
    transform: rotate(14.0deg)
  }
  20% {
    transform: rotate(-8.0deg)
  }
  30% {
    transform: rotate(14.0deg)
  }
  40% {
    transform: rotate(-4.0deg)
  }
  50% {
    transform: rotate(10.0deg)
  }
  60% {
    transform: rotate( 0.0deg)
  }
  100% {
    transform: rotate( 0.0deg)
  }
}

.pride {
  --red: #d04b36;
  --orange: #e36511;
  --yellow: #ffba00;
  --green: #00b180;
  --blue: #147aab;
  --indigo: #675997;
  background: linear-gradient( var(--red) 0%, var(--red) 16.6666%, var(--orange) 16.6666%, var(--orange) 33.333%, var(--yellow) 33.333%, var(--yellow) 50%, var(--green) 50%, var(--green) 66.6666%, var(--blue) 66.6666%, var(--blue) 83.3333%, var(--indigo) 83.3333%, var(--indigo) 100%);
}