<h2 id="contact">Contact</h2>
<form action="https://formspree.io/f/xknknbdq" method="POST" class="grid-container full">

  <div>
    <label for="email">Your email (optional)</label>
    <input class="u-full-width" type="email" placeholder="mike@example.com" name="email">
  </div>
  <div>
    <label for="message">Message</label>
    <textarea class="u-full-width" name="message" rows="4" placeholder="Wow, I love your website!" required></textarea>
  </div>

  <div>
    <button type="submit">Send</button>
  </div>

</form>