---
layout: default
---

{{ content }}

</div>
<div class="row" style="margin-top: 5rem;">
  <h2>Overview</h2>
  {% assign sorted = site.portfolio | reverse %}
  {% for entry in sorted %}
  <!-- {{ entry.title }} -->
  <div class="row">
    <h3>{{ entry.title }}</h3>
    <em>{{ entry.date | date_to_string }}</em>
  </div>
  <div class="row">
    <div class="one-half column">
      <p>{{ entry.content }}
      </p>
      <div class="row">
        <div class="one-half column">
          <form action="{{ entry.link }}" target="_blank" style="margin-bottom: 0rem;">
            <button type="submit" class="u-full-width">go to website</button>
          </form>
        </div>
        {% if entry.repository and entry.repository != "" %}
        <div class="one-half column">
          <form action="{{ entry.repository }}" target="_blank">
            <button type="submit" class="u-full-width">view on GitHub</button>
          </form>
        </div>
        {% endif %}
      </div>
    </div>

    <div class="one-half column img_cont">
      <a href="{{ entry.link }}">
        <picture>
        {% for image in entry.images | reverse %}
          {% assign ext = image | split: "." | last %}
          {% if ext == "svg" %}
            {% assign ext = "svg+xml" %}
          {% endif %}
          <source type="image/{{ ext }}" srcset="images{{ image }}" 
          {% if image contains "dark" %} media="(prefers-color-scheme: dark)" {% endif %} />
        {% endfor %}
          <img loading="lazy" class="u-full-width img-hover-zoom" src="images{{ entry.images[0] }}"
            alt="{{ entry.title }} page preview" />
        </picture>
      </a>
    </div>
  </div>
  <hr>
  {% endfor %}