---
layout: default
---

<div style="padding-top: 4rem">
  {{ content }}
  <h2>Projects</h2>

  {% for entry in site.posts %}

  <div class="portfolio-entry">
    <em class="date">{{ entry.date | date_to_string }}</em>
    <h3>{{ entry.title }}</h3>
    <hr>
    <div class="grid-container halves">
      
      {% assign cntnt = entry.content | strip_newlines %}
      {% assign exrpt = entry.excerpt | strip_newlines %}
      <div>
        {{ exrpt }}

        <div>
          {% if entry.link and entry.link != "" %}
          <a href="{{ entry.link }}" class="button ">view project</a>
          {% endif %}
          {% if cntnt != exrpt  %}
          <a href="{{ entry.url }}" class="button ">read more</a>
          {% endif %}
          {% if entry.repository and entry.repository != "" %}
          <a href="{{ entry.repository }}" class="source-button" aria-label="view source" title="view source on GitHub">
            <div class="gh-icon"></div>
          </a>
          {% endif %}</div>
      </div>

      <div class="img_cont">
        <a href="{% if cntnt == exrpt  %}{{ entry.link }}{% else %}{{ entry.url }}{% endif %}" aria-hidden="true">
          <picture>
            {% for image in entry.images reversed %}
            {% assign ext = image | split: "." | last %}
            {% if ext == "svg" %}
            {% assign ext = "svg+xml" %}
            {% endif %}
            <source type="image/{{ ext }}" srcset="{{ image }}" {% if image contains "dark" %}
              media="(prefers-color-scheme: dark)" {% endif %} />
            {% endfor %}
            <img loading="lazy" class="u-full-width img-hover-zoom" src="{{ entry.images[0] }}"
              alt="{{ entry.title }} page preview" width="900" height="500" />
          </picture>
        </a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
