---
layout: default
---

{{ content }}
<div style="margin-top: 5rem;">
  <h2>Projects</h2>
  <!-- Portfolio site specific styling -->
  <style>
    h3 {
      margin-bottom: 0;
    }
  </style>
  {% assign sorted = site.portfolio | reverse %}
  {% for entry in sorted %}

  <div class="portfolio-entry">
    <h3>{{ entry.title }}</h3>
    <em>{{ entry.date | date_to_string }}</em>
    <hr>
    <div class="grid-container halves">
      <div>
        {{ entry.content }}
        <a href="{{ entry.link }}" class="button u-full-width">go to website</a>
        {% if entry.repository and entry.repository != "" %}
        <a href="{{ entry.repository }}" class="button u-full-width">view on GitHub</a>
        {% endif %}
      </div>

      <div class="img_cont">
        <a href="{{ entry.link }}">
          <picture>
            {% for image in entry.images reversed %}
            {% assign ext = image | split: "." | last %}
            {% if ext == "svg" %}
            {% assign ext = "svg+xml" %}
            {% endif %}
            <source type="image/{{ ext }}" srcset="{{ image }}" {% if image contains "dark" %}
              media="(prefers-color-scheme: dark)" {% endif %} />
            {% endfor %}
            <img loading="lazy" class="u-full-width img-hover-zoom" src="{{ entry.images[0] }}"
              alt="{{ entry.title }} page preview" {% imagesize entry.images[0]:props %} />
          </picture>
        </a>
      </div>
    </div>
  </div>
  {% endfor %}