---
layout: default
---
<div class="headerLinks" style="padding-top: 1em">
  {% if page.link and page.link != "" %}
  <a href="{{ page.link }}" class="button">view project</a>
  {% endif %}
  {% if page.repository and page.repository != "" %}
  <a href="{{ page.repository }}" class="source-button" aria-label="read the source code on GitHub" title="source code available on GitHub">
    <div class="gh-icon img-hover-zoom" ></div>
  </a>
  {% endif %}
</div>
<div>
{{ content | remove_first:page.excerpt }}
</div>

{% if page.mathjax %}
  {% include mathjax.html %}
{% endif %}
